<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <title>Hackers & Hunters</title>

    <script src="components/loader.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-fittext/4.2.1/ng-FitText.min.js"></script>
    <script src="lib/angular/angular-aria.min.js"></script>
    <script src="lib/angular/angular-animate.min.js"></script>
    <script src="lib/angular/angular-messages.min.js"></script>
    <script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="lib/onsenui/js/onsenui.min.js"></script>
    <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/appController.js"></script>
    <script src="js/homeController.js"></script>
    <script src="js/welcomeController.js"></script>
    <script src="js/bookmarksController.js"></script>
    <script src="js/huntController.js"></script>
    <script src="js/filtersController.js"></script>

    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components-sunshine-theme.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

</head>

<body ng-controller="appController">
    <ons-navigator var="nav" animation="fade" page="welcome.html">
    </ons-navigator>
</body>

<ons-template id="settings.html">
    <ons-page>
    <div  id="settings">
      <ons-list modifier="inset">
        <ons-list-item ng-click="nav.pushPage('home.html')" tappable>
            <ons-icon icon="fa-home"> 
              Home
              </ons-icon>
        </ons-list-item>
        <ons-list-item ng-click="nav.pushPage('welcome.html', {data: {configure: true}})" tappable>
            <ons-icon icon="fa-user"> 
              Profile
              </ons-icon>
        </ons-list-item>
        <ons-list-item ng-click="nav.pushPage('history.html')" tappable>
            <ons-icon icon="fa-history"> 
              History
              </ons-icon>
        </ons-list-item>
        <ons-list-item ng-click="nav.pushPage('bookmarks.html')" tappable>
            <ons-icon icon="fa-bookmark-o"> 
              Bookmarks
              </ons-icon>
        </ons-list-item>
        <ons-list-item ng-click="nav.pushPage('filters.html')" tappable>
            <ons-icon icon="fa-filter"> 
              Filters
              </ons-icon>
        </ons-list-item>
        <ons-list-item ng-click="nav.pushPage('about.html')" tappable>
            <ons-icon icon="fa-info"> 
              About
              </ons-icon>
        </ons-list-item>
      </ons-list>
      </div>
    </ons-page>
</ons-template>    

<ons-template id="home.html">
    <ons-page ng-controller="homeController">
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="nav.pushPage('history.html')">
                    <ons-icon size="35px" icon="fa-history"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">
                <ons-icon size="35px" icon="fa-product-hunt"></ons-icon>
                HnH {{$storage.username}}
            </div>
            <div class="right">
                <ons-toolbar-button ng-click="nav.pushPage('settings.html')">
                    <ons-icon size="35px" icon="fa-gear"></ons-icon>
                </ons-toolbar-button>
            </div>
        </ons-toolbar>
        </ons-bottom-toolbar>

        <ons-pull-hook ng-action="nextHunt($done, 1000)" var="pullHook" ons-changestate="pullHookStateChanged($event)">
            <span ng-switch="pullHook.state">
                <span ng-switch-when="initial"><ons-icon size="35px" icon="fa-arrow-circle-down"></ons-icon> Pull down to refresh</span>
                <span ng-switch-when="preaction"><ons-icon size="35px" icon="fa-arrow-circle-up"></ons-icon> Release to refresh</span>
                <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="fa-refresh"></ons-icon> Fetching hunt ...</span>
            </span>
        </ons-pull-hook>

        <div class="absolute-center" id="hunt-summary" ng-show="randomhunt != null">
            <section id="hunt-topics">
                <span ng-repeat="topic in randomhunt.topics">
                    <span class="notification">{{topic.slug}}</span>
                    <span>&nbsp;</span>
                </span>
            </section>
            <div id="hunt-summary-text">
                <h1 data-fittext data-fittext-min="inherit" data-fittext-load-delay="500">
                    {{randomhunt.name}}
                </h1>
                <h2 data-fittext data-fittext-min="inherit">
                    {{randomhunt.tagline}}
                    <sup>{{randomhunt.votes_count}}</sup>
                </h2>
            </div>

            <div id="hunt-summary-date" class="box">
                <div class="date">
                    <div id="daymonth">{{randomhunt.created_at | date:'MMM dd'}}</div>
                    <div id="year">{{randomhunt.created_at | date:'yyyy'}}</div>
                </div>
            </div>
            <ons-button id="hunt-summary-thumb" ng-click="nav.pushPage('hunt.html', {data: {randomhunt: randomhunt}})"> 
                <img ng-src="{{randomhunt.thumbnail.image_url}}" imageonload/>
                <span class="loading"></span>
            </ons-button>
            <div id="podcast" ng-if="randomhunt.hasAudio">
                <audio controls>
                    <source ng-src="{{randomhunt.audioUrl | trustUrl}}" type="audio/ogg">
                        Your device does not support the audio element.
                </audio>
            </div>

            <div id="hunt-summary-footer">
                <span id="laptop" class="notification">&nbsp;</span>
                <span ng-switch="isBookmarked(randomhunt)">
                  <ons-button modifier="quiet" ng-switch-when="false" ripple ng-click="addBookmark(randomhunt)">
                      <ons-icon icon="fa-bookmark-o"></ons-icon>
                  </ons-button>
                  <ons-button modifier="quiet" ng-switch-when="true" ripple ng-click="removeBookmark(randomhunt)">
                      <ons-icon icon="fa-bookmark"></ons-icon>
                  </ons-button>
                </span>
                <span>
                  <ons-button modifier="quiet" ripple ng-click="console.log('share clicked')">
                      <ons-icon icon="fa-share-alt"></ons-icon>
                  </ons-button>
                </span>
                <span>
                  <ons-button modifier="quiet" ripple ng-click="console.log('show comments')">
                      <ons-icon icon="fa-comments-o">{{randomhunt.comments_count}}</ons-icon>
                  </ons-button>
                </span>
            </div>

            <ons-speed-dial ripple id="hunt-summary-share" position="bottom right" direction="left" ng-show="showFab">
                <ons-fab ripple>
                  <ons-icon icon="md-share"></ons-icon>
                </ons-fab>
                <ons-speed-dial-item ripple>
                  <ons-icon icon="md-twitter"></ons-icon>
                </ons-speed-dial-item>
                <ons-speed-dial-item ripple>
                  <ons-icon icon="md-facebook"></ons-icon>
                </ons-speed-dial-item>
                <ons-speed-dial-item ripple>
                  <ons-icon icon="md-whatsapp"></ons-icon>
                </ons-speed-dial-item>
            </ons-speed-dial>

        </div>
    </ons-page>
</ons-template>

<ons-template id="hunt.html">
    <ons-page ng-controller="huntController">
        <ons-toolbar>
            <div class="left">
              <ons-toolbar-button ng-click="nav.popPage()">
                <ons-icon size="35px" icon="fa-step-backward"></ons-icon>
              </ons-toolbar-button>
            </div>
            <div class="center">
                {{randomhunt.name}}
            </div>
            <div class="right">
              <ons-toolbar-button ng-click="nav.pushPage('settings.html')">
                <ons-icon size="35px" icon="fa-gear"></ons-icon>
              </ons-toolbar-button>
            </div>
        </ons-toolbar>
        <ons-bottom-toolbar ng-click="go(randomhunt.redirect_url)">
            Please tap here if the hunt fails to load
        </ons-bottom-toolbar>
        <div id="hunt-iframe-holder">
            <iframe width="100%" height="100%" frameborder="0" ng-src="{{randomhunt.redirect_url | trustUrl}}">
            </iframe>
        </div>
    </ons-page>
</ons-template>

<ons-template id="welcome.html">
    <ons-page ng-controller="welcomeController">
        <ons-toolbar>
            <div class="left">
              <ons-toolbar-button ng-click="nav.pushPage('home.html')">
                <ons-icon size="35px" icon="fa-home"></ons-icon>
              </ons-toolbar-button>
            </div>
            <div class="center">
                Welcome
            </div>
            <div class="right">
              <ons-toolbar-button ng-click="nav.pushPage('settings.html')">
                <ons-icon size="35px" icon="fa-gear"></ons-icon>
              </ons-toolbar-button>
            </div>
        </ons-toolbar>

          <div id="onboard" class="absolute-center small" ng-if="configure">
            <ons-input placeholder="What should we call you ? " maxlength="12" float ng-model="username"></ons-input>
            <!-- <br/>
            <ons-input placeholder="Email? " type="email" float ng-model="useremail"></ons-input> -->
            <br/>
            <ons-button ng-if="username == null || username == ''"  ng-click="nav.pushPage('home.html'); $storage.username='hunter'">
                Skip
            </ons-button>
            <ons-button ng-if="username != null && username != ''" ng-click="nav.pushPage('home.html'); $storage.username=username; $storage.useremail=useremail">
                Continue
            </ons-button>
          </div>
          <div id="onboard" class="absolute-center small bounceIn" ng-if="!configure">
              <h1 data-fittext data-fittext-min="inherit">Welcome {{$storage.username}}</h1>
          </div>
    </ons-page>
</ons-template>

<ons-template id="history.html">
    <ons-page ng-controller="bookmarksController">
        <ons-toolbar>
            <div class="left">
              <ons-toolbar-button ng-click="nav.pushPage('home.html')">
                <ons-icon size="35px" icon="fa-home"></ons-icon>
              </ons-toolbar-button>
            </div>
            <div class="center">
                History
            </div>
            <div class="right">
              <ons-toolbar-button ng-click="nav.pushPage('settings.html')">
                  <ons-icon size="35px" icon="fa-gear"></ons-icon>
              </ons-toolbar-button>
            </div>
        </ons-toolbar>

        <div class="settings-header">History Settings</div>
        <ons-list modifier="inset" class="settings-list">
            <ons-list-item>
                <ons-row>
                <ons-col>Max Size {{historyMaxSize}}</ons-col>
                <ons-col>
                    <ons-range style="width: 50%;" ng-model="historyMaxSize" min=10 max=100 step=5></ons-range>
                </ons-col>
                <ons-col>
                    <ons-button modifier="quiet" ripple ng-click="applyHistorySize(historyMaxSize)">
                      <ons-icon icon="fa-save"></ons-icon>
                    </ons-button>
                </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>

        <ons-list class="history" modifier="inset">
          <ons-list-item class="history-li" modifier="tappable" ng-repeat="hunt in allHistory" ng-click="nav.pushPage('home.html', {data: {randomhunt: hunt}})">
            <ons-row>
              <ons-col width="50px">
                <img ng-src="{{hunt.thumbnail.image_url}}" class="history-image">
              </ons-col>

              <ons-col>
                <div class="history-date">
                    <span>
                        {{hunt.votes_count}}
                    </span>
                    <span ng-switch="isBookmarked(hunt)">
                        <ons-icon icon="fa-bookmark-o" ng-switch-when="false"></ons-icon>
                        <ons-icon icon="fa-bookmark" ng-switch-when="true"></ons-icon>
                    </span>
                </div>
                <div class="history-from">
                  <span class="history-name">{{hunt.name}}</span>
                </div>
                <div class="history-message">
                  {{hunt.tagline}}
                </div>
              </ons-col>
            </ons-row>
          </ons-list-item>
        </ons-list>

    </ons-page>
</ons-template>

<ons-template id="bookmarks.html">
    <ons-page ng-controller="bookmarksController">
        <ons-toolbar>
            <div class="left">
              <ons-toolbar-button ng-click="nav.pushPage('home.html')">
                <ons-icon size="35px" icon="fa-home"></ons-icon>
              </ons-toolbar-button>
            </div>
            <div class="center">
                Bookmarks
            </div>
            <div class="right">
              <ons-toolbar-button ng-click="nav.pushPage('settings.html')">
                <ons-icon size="35px" icon="fa-gear"></ons-icon>
              </ons-toolbar-button>
            </div>
        </ons-toolbar>

        <ons-list class="history" modifier="inset">
          <ons-list-item class="history-li" modifier="tappable" ng-repeat="hunt in allBookmarks" ng-click="nav.pushPage('home.html', {data: {randomhunt: hunt}})">
            <ons-row>
              <ons-col width="50px">
                <img ng-src="{{hunt.thumbnail.image_url}}" class="history-image">
              </ons-col>

              <ons-col>
                <div class="history-date">
                    <span>
                        {{hunt.votes_count}}
                    </span>
                    <span ng-switch="isBookmarked(hunt)">
                        <ons-icon icon="fa-bookmark-o" ng-switch-when="false"></ons-icon>
                        <ons-icon icon="fa-bookmark" ng-switch-when="true"></ons-icon>
                    </span>
                </div>
                <div class="history-from">
                  <span class="history-name">{{hunt.name}}</span>
                </div>

                <div class="history-message">
                  {{hunt.tagline}}
                </div>
              </ons-col>
            </ons-row>
          </ons-list-item>
        </ons-list>

    </ons-page>
</ons-template>

<ons-template id="filters.html">
    <ons-page ng-controller="filtersController">
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="nav.pushPage('home.html')">
            <ons-icon size="35px" icon="fa-home"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
            Filters
        </div>
        <div class="right">
          <ons-toolbar-button ng-click="nav.pushPage('settings.html')">
            <ons-icon size="35px" icon="fa-gear"></ons-icon>
          </ons-toolbar-button>
        </div>
      </ons-toolbar>

      <ons-tabbar animation="slide" var="filterTab">
          <ons-tab label="Summary" page="filter-summary.html" active>
          </ons-tab>
          <ons-tab label="Topics" page="topic-filter.html">
          </ons-tab>
          <ons-tab label="Collections" page="collection-filter.html">
          </ons-tab>
      </ons-tabbar>

    </ons-page>
</ons-template>

<ons-template id="filter-summary.html">
    <ons-page>
        <div class="settings-header">Time Filter</div>
        <ons-list modifier="inset" class="settings-list">
            <ons-list-item>
                <span>Created After</span>
                <span>
                    <md-content>
                        <md-datepicker ng-model="createdAfter" md-placeholder="Enter date" md-max-date="maxFilterDate"></md-datepicker>
                    </md-content>
                </span>
            </ons-list-item>
        </ons-list> 
        <div class="settings-header">Content Filter</div>
        <ons-list modifier="inset" class="settings-list" tappable>
            <ons-list-item>
                <label class="left">
                    <ons-input name="content-filter" type="radio" input-id="radio-topic" value="topic"></ons-input>
                </label>
                <label for="radio-topic" class="center">
                    Topic
                </label>
                <ons-button class="right" ng-click="filterTab.setActiveTab(1)">
                    <ons-icon icon="fa-edit"></ons-icon>
                </ons-button>
            </ons-list-item>
            <ons-list-item>
                <label class="left">
                    <ons-input name="content-filter" type="radio" input-id="radio-collection" value="collection"></ons-input>
                </label>
                <label for="radio-collection" class="center">
                    Collection
                </label>
                <ons-button class="right" ng-click="filterTab.setActiveTab(2)">
                    <ons-icon icon="fa-edit"></ons-icon>
                </ons-button>
            </ons-list-item>
        </ons-list>
        <br>
        <div>
            <ons-button ripple ng-click="applyFilter(createdAfter)">
                Apply Filters
            </ons-button>
        </div>

    </ons-page>
</ons-template>

<ons-template id="topic-filter.html">
    <ons-page>

        <div class="settings-header">Add upto 4 topic filters</div>
        <ons-list modifier="inset" class="settings-list">
            <ons-list-item>
              <div layout="column" ng-cloak="" class="chips">
                  <md-content class="md-padding" layout="column">
                      <md-chips ng-model="filteredTopics" md-max-chips=4 readonly="false" md-removable="true"> <!-- TODO readonly=true -->
                          <md-chip-template style="font-size: 80%;">
                              <strong>{{$chip.name}}</strong>
                          </md-chip-template>
                      </md-chips>
                  </md-content>
              </div>
            </ons-list-item>
        </ons-list>

          <ons-list-header>Trending topics (click to add)</ons-list-header>
          <ons-list class="history" modifier="inset">
              <ons-list-item ripple class="history-li" modifier="tappable" ng-repeat="topic in trendingTopics" ng-click="push2ArrayUnique(filteredTopics, topic, 4)">
                <ons-row>
                  <ons-col width="50px">
                      <img ng-src="{{topic.image}}" class="history-image">
                  </ons-col>

                  <ons-col>
                    <div class="history-date">
                        <div>
                            {{topic.posts_count}}
                        </div>
                    </div>
                    <div class="history-from">
                      <span class="history-name">{{topic.name}}</span>
                    </div>
                    <div class="history-message">
                      {{topic.description}}
                    </div>
                  </ons-col>
                </ons-row>
              </ons-list-item>
          </ons-list>
      </div>

    </ons-page>
</ons-template>

<ons-template id="collection-filter.html">
    <ons-page>

        <div class="settings-header">Select 1 collection</div>
        <ons-list modifier="inset" class="settings-list">
            <ons-list-item>
              <div layout="column" ng-cloak="" class="chips">
                  <md-content class="md-padding" layout="column">
                      <md-chips ng-model="filteredCollections" md-max-chips=1 md-removable="true" readonly="false"> <!-- TODO readonly=true -->
                          <md-chip-template style="font-size: 80%;">
                              <strong>{{$chip.name}}</strong>
                          </md-chip-template>
                      </md-chips>
                  </md-content>
              </div>
            </ons-list-item>
        </ons-list>

        <ons-list-header>Featured Collections (click to add)</ons-list-header>
        <ons-list class="history" modifier="inset">
          <ons-list-item ripple class="history-li" modifier="tappable" ng-repeat="collection in $storage.featuredCollections" ng-click="push2ArrayUnique(filteredCollections, collection, 1)">
            <ons-row>
              <ons-col width="50px">
                <img ng-src="{{collection.background_image_url}}" class="history-image">
              </ons-col>

              <ons-col>
                <div class="history-date">
                    <div>
                        {{collection.posts_count}}
                    </div>
                </div>
                <div class="history-from">
                  <span class="history-name">{{collection.name}}</span>
                </div>
                <div class="history-message">
                    {{collection.title}}
                </div>
              </ons-col>
            </ons-row>
          </ons-list-item>
        </ons-list>
      </div>
    </ons-page>
</ons-template>

<ons-template id="about.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="nav.pushPage('home.html')">
            <ons-icon size="35px" icon="fa-home"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
            About
        </div>
        <div class="right">
          <ons-toolbar-button ng-click="nav.pushPage('settings.html')">
            <ons-icon size="35px" icon="fa-gear"></ons-icon>
          </ons-toolbar-button>
        </div>
      </ons-toolbar>
      <div class="center">
      <h3>
          Bhupinder Garg © 2016
      <br/>
          bhupi.iit@gmail.com
      </h3>
      </div>
    </ons-page>
</ons-template>

</html>
