html{
    font-size:110%;
	text-align: center;
}

@media(min-width:20em) {

	h1 {
		color: #111; 
		font-family: 'Helvetica Neue', sans-serif; 
		font-size: 3em; 
		font-weight: bold; 
		margin-bottom: 0;  
		margin-left: 0.5em;  
		margin-right: 0.5em; 
		letter-spacing: -1px; 
		line-height: 0.75; 
	}

	h2 { 
		font-family: 'Open Sans', sans-serif; 
		font-size: 1em; 
		font-weight: 200; 
		margin: 0.5em 1em 1em 1em; 
		line-height: 0.85;
	}

	h3 {
		font-size:60%;
	}

	sup { 
		color: grey; 
		font-family: 'Open Sans', sans-serif; 
		font-size: 0.6em; 
		font-weight: 200;
	}
}

body {
	background-color: #373B44
}

.absolute-center {
  width: 90%;
  height: 85%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.absolute-center .small {
	width: 50%;
    height: 55%;
    color: orange;
}

#hunt-topics {
	display: none;
	position:      relative;
    color: grey; 
	font-family: 'Open Sans', sans-serif; 
	letter-spacing: -1px; 
	opacity: 0.5;
}

#hunt-summary-text {
	/*max-width:     15em; */
	max-height:    10em;
	position:      relative;
	padding:       5px;
    z-index:       10;
}

#hunt-summary-media {
	max-width:     20em; 
	max-height:    10em;
	position:      relative;
}

#hunt-summary-date {
	position:     absolute;
	z-index:       11;
	opacity: 0.75;
}

#hunt-summary-thumb {
	width:     15em; 
	height:    10em;
	position:      relative;
	border:        2px solid #ddd;
    border-radius: 6px;
    padding:       5px;
    z-index:       5;
}

.loading { 
	background-color: #ede9df;
    background-image: url(../images/07-progress.gif);
    background-position: center;
    background-repeat: no-repeat;
}

.summary-image-hide {
    visibility: hidden;
}
.summary-image-show {
    visibility: visible;
}


#hunt-summary-thumb img {
	display:       block;
	height:  100%; 
	width:   100%; 
    margin: auto;
	opacity: 0.5;
}

#hunt-summary-footer {
	position:      relative;
    color: grey; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 80%;
}

#hunt-summary-share {
	z-index: 15;
}

#hunt-summary-footer .notification {
	vertical-align: middle;
	display: block;
	height: 10px;
	max-width: 20em;
  	margin: auto;
}

#card-img {
	display:       block;
	max-width:     15em; 
	max-height:    10em;
    margin: auto;
}
#podcast {
	margin-top: 0.3em; 
}

#onboard .text-input {
	text-align: center;
}

input[type=text] { 
	text-align:center; 
}

#settings {
  margin-top: 10px;
  margin-bottom: 10px;
}

.history {
  margin-top: 10px;
  margin-bottom: 10px;
}

.history-li {
  line-height: 1;
  padding: 10px;
}

.history-image {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.history-date {
  float: right;
  font-size: 12px;
  opacity: 0.35;
}

.history-from {
  margin: 10px 0 6px 0;
}

.history-name {
  font-size: 15px;
  font-weight: 500;
}

.history-id {
  font-size: 14px;
  opacity: 0.4;
}

.history-message {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.15;
}

.box {
  background: #eb482f;
  /*border-radius:6px;*/
  display:inline-block;
  padding:0 1px 1px;
  box-shadow: 2px 2px 1px #888888
}

.date #daymonth {
  color: white;
  font-size:0.5em;
}
.date #year {
  background: white;
  color: #eb482f;
  font-size:0.7em;
}

#hunt-iframe-holder {
    background-color: #ede9df;
    background-image: url(../images/07-progress.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

#hunt-summary-share .fab {
	background-color: #eb482f;
}

